::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    margin-left: 10px;
}

.icon-caret {
    cursor: pointer;
    position: absolute;
    /* left: 225px; */
    right: 33px;
    top: 6px;
}

.icon-caret-times {
    cursor: pointer;
    position: absolute;
    /* left: 225px; */
    right: 55px;
    top: 6px;
    opacity: 0.5;
}

.outer-border {
    border-radius: 12px;
    padding-left: 20px !important;
    background-color: #fff;
    font-size: 11px;
}

.dot {
    height: 20px;
    width: 20px;
    background: linear-gradient(90deg, rgba(116,75,190,0.9810049019607843) 15%, rgba(141,199,77,1) 85%);
    border-radius: 50%;
    display: inline-block;
    margin-left: 1rem;
  }

  .dot2 {
    height: 20px;
    width: 20px;
    background: linear-gradient(90deg, rgba(103,58,183,0.9081757703081232) 10%, rgba(255,94,117,0.8913690476190477) 90%);
    border-radius: 50%;
    display: inline-block;
    margin-left: 1rem;
  }

  .flex-container {
    display: flex;
    padding: 10px 2px;
  }
  
  .outer-border {
    border-radius: 12px;
    padding-left: 20px !important;
    background-color: #fff;
    font-size: 11px;
}


.brd_radius{
    border-radius: .80rem !important;
}

.error-feedback{
    font-size: 12px;
    font-family: zurich-bold;
    letter-spacing: 0px;
    color: red;
    padding-top: 0.5vw;
    line-height: 0.5vw;
    padding-left: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

optgroup{
    max-height: 100px !important;
    overflow-y:scroll !important;
}

select option:hover{
    color: #fff;
    background-color: #007bff;
}

::ng-deep ng-select.ng-select-disabled>.ng-select-container{
    background-color: #e9ecef !important;
    opacity: 1;
}

::ng-deep ng-select.ng-select-disabled>.ng-select-container{
    background-color: #e9ecef !important;
    opacity: 1;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
    border-radius: 15px !important;
    height: 33px !important;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container {
    border-radius: 15px !important;
    height: 33px !important;
    /* text-overflow: ellipsis; */
    /* overflow-y: auto; */
}
::ng-deep .ng-select .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 33px;
    align-items: center;
    font-size: 11px;
}

::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items {
    text-align: left !important;
}   

::ng-deep.p-calendar {
    width: 100% !important;
}  