td {
    padding-left: 2%;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    margin-left: 10px;
}

.icon-caret {
    cursor: pointer;
    position: absolute;
    /* left: 225px; */
    right: 33px;
    top: 6px;
}

.icon-caret-times {
    cursor: pointer;
    position: absolute;
    /* left: 225px; */
    right: 55px;
    top: 6px;
    opacity: 0.5;
}

.outer-border {
    border-radius: 12px;
    padding-left: 20px !important;
    background-color: #fff;
    font-size: 11px;
}


.brd_radius{
    border-radius: .80rem !important;
}

.error-feedback{
    font-size: 12px;
    font-family: zurich-bold;
    letter-spacing: 0px;
    color: red;
    padding-top: 0.5vw;
    line-height: 0.5vw;
    padding-left: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

optgroup{
    max-height: 100px !important;
    overflow-y:scroll !important;
}

select option:hover{
    color: #fff;
    background-color: #007bff;
}

::ng-deep ng-select.ng-select-disabled>.ng-select-container{
    background-color: #e9ecef !important;
    opacity: 1;
}

::ng-deep ng-select.ng-select-disabled>.ng-select-container{
    background-color: #e9ecef !important;
    opacity: 1;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
    border-radius: 15px !important;
    height: 33px !important;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container {
    border-radius: 15px !important;
    height: 33px !important;
    /* text-overflow: ellipsis; */
    /* overflow-y: auto; */
}
::ng-deep .ng-select .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 33px;
    align-items: center;
    font-size: 11px;
}

::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items {
    text-align: left !important;
}   

 /* Font color */
 :host::ng-deep.input.mat-input-element {
    color: #C8C9CF !important;
  }
  
  :host::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #C8C9CF !important;
  }
  
  :host::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #C8C9CF !important;
  }
  
  :host::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #C8C9CF !important;
  }
  
  :host::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(53 75 230 / 30%) !important;
  }
  
  mat-datepicker-toggle {
    color: #6294df !important;
    position: absolute;
    top: 2px;
    right: 2px;
  }
  
  :host::ng-deep.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
      color: white !important;
      background: #48A950 !important;
      padding: 0.5rem 2rem;
  }
  :host::ng-deep.mat-raised-button.mat-accent, .mat-raised-icon-button.mat-accent, .mat-raised-button.mat-accent {
      padding: 0.5rem 2rem;
  }
  :host::ng-deep.mat-form-field-infix {
      border-top: 0.44375em solid transparent;
  }
  .reset {
      padding: 0.5rem 2rem;
  }
  .apply {
      margin-right: 1rem;
  }
  :host::ng-deep.mat-form-field-wrapper {
      padding-bottom: 0;
  }
::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items {
    text-align: left !important;
}   

::ng-deep.calendar-input-container {
    background: #ffffff !important;
    border: solid 1px #68b7e2 !important;
    color: #1a1d1f !important;
    min-height: 10px !important;
    display: flex;
    align-items: center;
    border-radius: 71px !important;
    width: 100%;
    font-size: 13px !important;
}
 
::ng-deep.p-calendar {
    width: 100% !important;
}   

   